:root {
  /*
    =====> Colors <===== 
     */
  --color-bg: #0f172a;
  --slate-100: #f1f5f9;
  --slate-300: #cbd5e1;
  --slate-500: #64748b;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --linear-blue: #13b0f5;
  --linear-pink: #e70faa;

  /*
  =====> Typography <===== 
   */
  --ff-outfit: "Outfit", sans-serif;
  --ff-inter: "Inter", sans-serif;

  --headline-lg: 58px;
  --headline-md: 48px;
  --headline-sm: 30px;

  --title-lg: 48px;
  --title-md: 32px;
  --title-sm: 22px;

  /*
  =====> Spacing <===== 
   */
  --padding-top-lg: 230px;
  --padding-top-md: 170px;
  --padding-top-sm: 155px;

  --padding-block-lg: 165px;
  --padding-block-md: 130px;
  --padding-block-sm: 120px;

  --padding-inline-lg: 100px;
  --padding-inline-md: 70px;
  --padding-inline-sm: 30px;
}

/*
=====> Reset <===== 
 */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--slate-100);
  background-color: var(--color-bg);
  font-family: var(--ff-outfit);
  /* height: 700vh; */
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*
=====> Reused Style <===== 
 */

.container {
  padding-inline: var(--padding-inline-sm);
}

.headline {
  font-size: var(--headline-sm);
  letter-spacing: 2px;
  line-height: 1.4;
  text-align: center;
}

.title {
  font-size: var(--title-sm);
  text-align: center;
  font-weight: 700;
}

.sub-title {
  font-size: 18px;
  font-weight: 300;
  color: var(--slate-300);
  text-align: center;
  margin-block: 15px 35px;
}

.title-linear {
  background: linear-gradient(to right, var(--linear-blue), var(--linear-pink));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.span1 {
  display: block;
  text-align: start;
}

/*
=====> Header Section <=====  
*/
.header {
  width: 100%;
  position: fixed;
  z-index: 9;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: var(--color-bg);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  position: absolute;
  background: var(--slate-300);
  color: var(--color-bg);
  z-index: 9;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 16px;
  border-radius: 6px;
  top: -350%;
  right: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.nav-menu.active {
  right: 35px;
  top: 35px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.navbar-left .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-right {
  display: flex;
  gap: 15px;
  position: relative;
  left: 0;
}

/*
=====> Hero Section <===== 
 */
.hero {
  padding-top: var(--padding-top-sm);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.hero .box-img {
  position: relative;
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.hero .box-img::before {
  content: "";
  position: absolute;
  inset: -10px 50px;
  background: linear-gradient(90deg, var(--linear-blue), var(--linear-pink));
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  animation: animate 4s linear infinite;
  -webkit-animation: animate 4s linear infinite;
  filter: blur(1.6rem);
  -webkit-filter: blur(1.6rem);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.box-img::after {
  content: "";
  position: absolute;
  inset: 8px;
  background-color: var(--color-bg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.box-img .img-content {
  position: absolute;
  inset: 8px;
  z-index: 5;
  /* overflow: hidden; */
}

.box-img .img-content img {
  width: 100%;
  height: 100%;
}

/*
=====> Tools Section <===== 
 */
.tools {
  margin-top: 90px;
  background-color: var(--slate-800);
  padding-block: 25px;
}

.tools-item {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.tools-item .tools-icons .tools-icon {
  width: 35px;
  height: 35px;
}

/*
=====> Project <===== 
 */
.projects {
  margin-top: 90px;
}

.projects .scrollbar {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  /* background-color: red; */
}
.scrollbar::-webkit-scrollbar {
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--slate-700);
  border: 1px solid var(--slate-100);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--slate-100);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.project-item {
  background-color: var(--slate-700);
  min-width: 80%;
  margin-bottom: 25px;
  scroll-snap-align: start;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.projects .project-banner {
  width: 100%;
}

.project-banner .project-img {
  width: 100%;
}

.project-title {
  padding-inline: 16px;
  position: relative;
}

.project-title h2 {
  font-size: 18px;
  padding-top: 15px;
}

.project-title p {
  color: var(--slate-300);
  line-height: 1.4;
  margin-block: 10px 15px;
}

.project-title span {
  color: var(--slate-500);
  font-weight: 300;
}

.project-title .visit-link {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-bottom: 20px;
}

.project-title a span {
  margin-left: 10px;
  color: var(--slate-100);
  border-bottom: 1px solid var(--slate-500);
}

/*
=====> About Section <===== 
 */
.about {
  padding-top: 120px;
}

.about .about-content {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;
}

.about-text .title {
  text-align: start;
  border-bottom: 1px solid var(--slate-100);
  width: max-content;
  margin-bottom: 15px;
}

.about-text p {
  color: var(--slate-300);
  line-height: 1.4;
}

.about-text .box-text {
  margin-bottom: 25px;
}

.about-text .btn {
  background-color: transparent;
  padding: 12px 24px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-weight: bold;
}

.about-text .btn-primary {
  color: var(--color-bg);
  background-color: var(--slate-100);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--slate-300);
}

.about-text .btn-secondary {
  color: var(--slate-100);
  border: 1px solid var(--slate-100);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  margin-left: 10px;
}

.btn-secondary:hover {
  background-color: var(--slate-100);
  color: var(--color-bg);
}

.about .img-box {
  position: relative;
  width: 335px;
  height: 415px;
  background: #0c1022;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px 90px 12px 90px;
  -webkit-border-radius: 12px 90px 12px 90px;
  -moz-border-radius: 12px 90px 12px 90px;
  -ms-border-radius: 12px 90px 12px 90px;
  -o-border-radius: 12px 90px 12px 90px;
}

.img-box::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent 70%, var(--linear-blue));
  animation: animate 4s linear infinite;
  -webkit-animation: animate 4s linear infinite;
}

.img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent 70%, var(--linear-pink));
  animation: animate 4s linear infinite;
  -webkit-animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.img-box .img-banner {
  width: 320px;
  height: 400px;
  z-index: 1;
  overflow: hidden;
  border-radius: 12px 90px 12px 90px;
  -webkit-border-radius: 12px 90px 12px 90px;
  -moz-border-radius: 12px 90px 12px 90px;
  -ms-border-radius: 12px 90px 12px 90px;
  -o-border-radius: 12px 90px 12px 90px;
  border: 3px solid #0c1022;
}

.img-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
=====> Media Queries <===== 
 */
/* Responsive for large than 768px screen */
@media (min-width: 768px) {
  /*
  =====> Projects Section <=====  
   */
  .project-item {
    min-width: calc(50% - 15px);
  }
}

/* Responsive for large than 992px screen */
@media (min-width: 992px) {
  /*
  =====> Projects Section <===== 
   */
  .project-item {
    min-width: calc(33.33% - 20px);
    width: calc(33.33% - 20px);
  }
}

/* Responsive for large than 1200px screen */
@media (min-width: 1200px) {
  /*
  =====> Projects Section <===== 
   */
  .projects .project-item {
    min-width: calc(25% - 22px);
    width: calc(25% - 22px);
  }
}
